<connectionStrings>
  <!--Default connection. May be needed later so we leave it here-->
  <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-a734dfff-71c0-4a2a-9bb6-79dba80ffa02;AttachDbFilename=|DataDirectory|\aspnet-Website-a734dfff-71c0-4a2a-9bb6-79dba80ffa02.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>

  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog = eRestaurant; Integrated Security = True"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
